<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start"
      ><ion-button (click)="goBack()"
        ><ion-icon
          name="arrow-back-outline"
        ></ion-icon></ion-button></ion-buttons
    ><ion-title>Tussenstand</ion-title></ion-toolbar
  > </ion-header
><ion-content forceOverscroll="false">
  <ion-list>
    <ion-item
      (click)="goToUserDetail(user.name)"
      *ngFor="let user of usersRanked"
      [ngClass]="{
        winner: usersRanked.indexOf(user) === 0,
        kneus: isKneusje(user)
      }"
    >
      <b class="rank" *ngIf="!isKneusje(user)">{{
        usersRanked.indexOf(user) + 1
      }}</b>
      <b class="rank" *ngIf="isKneusje(user)">Kneusje</b>
      <ion-avatar slot="start">
        <img [src]="getAvatar(user)" />
      </ion-avatar>
      <ion-label>
        <span class="name" *ngIf="!isKneusje(user)">- {{ user.name }}</span>
        <i *ngIf="isKneusje(user)">- {{ user.name }}</i>
      </ion-label>
      <div slot="end" class="flex-row flex-center">
        <ion-avatar
          slot="start"
          class="country"
          *ngIf="isDeadLinePast && !!getCountry(user)"
        >
          <img [src]="getCountry(user)" />
        </ion-avatar>
        <b>{{ user.score }} pt</b>
      </div>
    </ion-item></ion-list
  >
</ion-content>
