.rank {
  margin-right: 5px;
}

.winner {
  span {
    font-weight: 600;
    font-size: 18px;
  }
}

.kneus {
  i {
    font-size: 13px !important;
  }
}

.name {
  font-size: 15px !important;
}

.country {
  height: 32px;
  width: 32px;
  margin-right: 15px;
}
