<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start"
      ><ion-button (click)="goBack()"
        ><ion-icon
          name="arrow-back-outline"
        ></ion-icon></ion-button></ion-buttons
    ><ion-title *ngIf="!luckyGoalPoints && showCorrectMatches && !winnerOnly"
      >Matchen exact juist</ion-title
    >
    <ion-title *ngIf="!luckyGoalPoints && !showCorrectMatches && winnerOnly"
      >Matchen w/v/g juist</ion-title
    ><ion-title *ngIf="!luckyGoalPoints && !showCorrectMatches && !winnerOnly"
      >Tussenstand</ion-title
    ><ion-title *ngIf="luckyGoalPoints && !showCorrectMatches && !winnerOnly"
      >Lucky Bruft</ion-title
    ></ion-toolbar
  > </ion-header
><ion-content forceOverscroll="false">
  <ion-list>
    <ion-item
      (click)="goToUserDetail(user.name)"
      *ngFor="let user of usersRanked"
      [ngClass]="{
        winner: usersRanked.indexOf(user) === 0,
        kneus: isKneusje(user)
      }"
    >
      <b class="rank" *ngIf="!isKneusje(user)">{{
        usersRanked.indexOf(user) + 1
      }}</b>
      <b class="rank" *ngIf="isKneusje(user) && !luckyGoalPoints">Kneusje</b>
      <b class="rank" *ngIf="isKneusje(user) && luckyGoalPoints">Altijd Pech</b>
      <ion-avatar slot="start">
        <img [src]="getAvatar(user)" />
      </ion-avatar>
      <ion-label>
        <span class="name" *ngIf="!isKneusje(user)">- {{ user.name }}</span>
        <i *ngIf="isKneusje(user)">- {{ user.name }}</i>
      </ion-label>
      <div slot="end" class="flex-row flex-center">
        <ion-avatar
          slot="start"
          class="country"
          *ngIf="isDeadLinePast && !!getCountry(user)"
        >
          <img [src]="getCountry(user)" />
        </ion-avatar>
        <b *ngIf="showCorrectMatches || winnerOnly">{{ user.score }}</b>
        <b *ngIf="!showCorrectMatches && !winnerOnly">{{ user.score }} pt</b>
      </div>
    </ion-item></ion-list
  >
  <ion-item
    (click)="toggleLuckyGoalPoints()"
    *ngIf="!luckyGoalPoints && !showCorrectMatches && !winnerOnly"
  >
    Lucky Bruft Tussenstand
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon
  ></ion-item>
  <ion-item
    (click)="toggleShowMatchesCorrect()"
    *ngIf="!showCorrectMatches && !luckyGoalPoints && !winnerOnly"
  >
    Aantal matchen exact juist
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item
    (click)="toggleShowWinnerOnly()"
    *ngIf="!showCorrectMatches && !luckyGoalPoints && !winnerOnly"
  >
    Aantal matchen winnaar/verliezer/gelijk juist
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item
    (click)="showRankings()"
    *ngIf="luckyGoalPoints || showCorrectMatches || winnerOnly"
  >
    Algemene Tussenstand
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon
  ></ion-item>
</ion-content>
