.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.w-100pct {
  width: 100%;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.m-5 {
  margin: 5px;
}
