.accordion {
  ion-item {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    transition: 0.2s all linear;
  }

  &--hide {
    ion-item {
      display: block !important;
      line-height: 0px;
      height: 0px;
    }
  }
}

.collapse-icon {
  margin-left: 15px;
}

.country {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
}

.ready {
  color: rgb(0, 133, 0);
}

.missing {
  color: rgb(202, 0, 0);
}
