<ion-header>
  <ion-toolbar color="primary"
    ><ion-title>Login</ion-title></ion-toolbar
  > </ion-header
><ion-content forceOverscroll="false">
  <ion-item>
    <ion-label position="stacked">Naam</ion-label>
    <ion-input [(ngModel)]="name" (ngModelChange)="onNameChange()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>

    <ion-input [(ngModel)]="password" type="password"></ion-input> </ion-item
  ><ion-item *ngIf="error"
    ><ion-label color="warning" *ngIf="error">{{ error }}</ion-label></ion-item
  >

  <div class="flex-center">
    <ion-button *ngIf="userExists" (click)="login()">Login</ion-button>
    <ion-button
      *ngIf="!userExists"
      (click)="register()"
      [disabled]="!name || !password"
      >Register</ion-button
    >
  </div>
</ion-content>
