<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start"
      ><ion-button (click)="goBack()"
        ><ion-icon name="arrow-back-outline"></ion-icon></ion-button
    ></ion-buttons>
    <ion-title>Spelregels punten</ion-title>
  </ion-toolbar> </ion-header
><ion-content forceOverscroll="false">
  <ion-list>
    <ion-item>
      <p>Juiste winnaar (of gelijkspel):</p>
      &nbsp;
      <b>5 punten</b>
    </ion-item>
    <ion-item>
      <p>Goals correct:</p>
      &nbsp;
      <b>1 punt per team</b>
    </ion-item>
    <ion-item>
      <p>Doelsaldo correct:</p>
      &nbsp;
      <b>2 punten</b>
    </ion-item>
    <ion-item>
      <p>Minuut 1e goal correct:</p>
      &nbsp;
      <b>2 punten</b>
    </ion-item>
    <ion-item>
      <p>Minuut 1e goal + of - 1 of 2 minuten:</p>
      &nbsp;
      <b>1 punt</b>
    </ion-item>
    <ion-item>
      <p>Goals in blessuretijd tellen als minuut 45 of 90</p>
    </ion-item>
    <br />
    <p class="m-10">Het maximum per match is dus 11 punten</p>
    <p class="m-10">
      <b>Voorbeeld:</b> Eindstand 3-1, eerste goal in minuut 45
    </p>
    <br />
    <p class="m-10"><b>1) </b>Pronostiek was 3-1, eerste goal in minuut 15:</p>
    <p class="m-10">
      Juiste winnaar + 2x goals correct + doelsaldo correct =<b>
        5 + 2 + 2 = 9 punten</b
      >
    </p>
    <br />
    <p class="m-10"><b>2) </b>Pronostiek was 3-0, eerste goal in minuut 45:</p>
    <p class="m-10">
      Juiste winnaar + 1x goals correct + minuut correct =<b>
        5 + 1 + 2 = 8 punten</b
      >
    </p>
    <br />
    <p class="m-10"><b>3) </b>Pronostiek was 4-2, eerste goal in minuut 38:</p>
    <p class="m-10">
      Juiste winnaar + doelsaldo correct =<b> 5 + 2 = 7 punten</b>
    </p>
    <br />
    <p class="m-10"><b>4) </b>Pronostiek was 0-1, eerste goal in minuut 44:</p>
    <p class="m-10">
      1x goals correct + minuut bijna correct =<b> 1 + 1 = 2 punten</b>
    </p>
    <ion-item>
      <h1>Tie Breaker</h1>
    </ion-item>
    <ion-item>
      <p>
        Bij gelijke stand wint de persoon met de meeste punten zonder die van de
        meta pronostiek. Als het dan nog gelijk is wint degene die het meeste
        punten haalde uit het voorspellen van de Top 4 van het EK. Als het dan
        nog gelijk is wordt gekeken naar de punten zonder die van de minuut
        eerste goal.
      </p></ion-item
    >
    <ion-item>
      <h1>Prijzen</h1>
    </ion-item>
    <ion-item>
      <p>
        De winnaar betaalt een rondje pintjes voor de rest en mag de anderen hun
        neus erin wrijven dat ze sucken tot aan het volgende toernooi met
        prono's. <br /><br />Het kneusje betaalt een rondje pintjes voor de rest
        en wordt extra ondergebeirt dat hij suckt tot aan het volgende toernooi
        met prono's.
      </p></ion-item
    >
  </ion-list>
</ion-content>
