<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start"
      ><ion-button (click)="goBack()"
        ><ion-icon name="arrow-back-outline"></ion-icon></ion-button
    ></ion-buttons>
    <ion-title>Pronostieken</ion-title>
  </ion-toolbar> </ion-header
><ion-content forceOverscroll="false">
  <ion-list>
    <ion-list-header>
      <h2>Eerste speeldag</h2>
      <ion-button (click)="showFirstMatchDay = !showFirstMatchDay"
        ><ion-icon
          *ngIf="showFirstMatchDay"
          class="collapse-icon"
          name="chevron-up-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!showFirstMatchDay"
          class="collapse-icon"
          name="chevron-down-outline"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-group
      class="accordion"
      [ngClass]="{ 'accordion--hide': showFirstMatchDay === false }"
    >
      <div *ngFor="let match of firstMatches">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>
    <ion-list-header>
      <h2>Tweede speeldag</h2>
      <ion-button (click)="showSecondMatchDay = !showSecondMatchDay"
        ><ion-icon
          *ngIf="showSecondMatchDay"
          class="collapse-icon"
          name="chevron-up-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!showSecondMatchDay"
          class="collapse-icon"
          name="chevron-down-outline"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-group
      class="accordion"
      [ngClass]="{ 'accordion--hide': showSecondMatchDay === false }"
    >
      <div *ngFor="let match of secondMatches">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>
    <ion-list-header>
      <h2>Derde speeldag</h2>
      <ion-button (click)="showThirdMatchDay = !showThirdMatchDay"
        ><ion-icon
          *ngIf="showThirdMatchDay"
          class="collapse-icon"
          name="chevron-up-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!showThirdMatchDay"
          class="collapse-icon"
          name="chevron-down-outline"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-group
      class="accordion"
      [ngClass]="{ 'accordion--hide': showThirdMatchDay === false }"
    >
      <div *ngFor="let match of thirdMatches">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>
    <ion-list-header>
      <h2>Achtste finales</h2>
      <ion-button (click)="showKnockOutMatches = !showKnockOutMatches"
        ><ion-icon
          *ngIf="showKnockOutMatches"
          class="collapse-icon"
          name="chevron-up-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!showKnockOutMatches"
          class="collapse-icon"
          name="chevron-down-outline"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-group
      class="accordion"
      [ngClass]="{ 'accordion--hide': showKnockOutMatches === false }"
    >
      <div *ngFor="let match of knockOutMatches">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>
    <ion-list-header>
      <h2>Kwartfinales</h2>
      <ion-button (click)="showQuarterFinals = !showQuarterFinals"
        ><ion-icon
          *ngIf="showQuarterFinals"
          class="collapse-icon"
          name="chevron-up-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!showQuarterFinals"
          class="collapse-icon"
          name="chevron-down-outline"
        ></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item-group
      class="accordion"
      [ngClass]="{ 'accordion--hide': showQuarterFinals === false }"
    >
      <div *ngFor="let match of quarterFinals">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>
    <ion-list-header> <h2>Halve finales</h2></ion-list-header>
    <ion-item-group>
      <div *ngFor="let match of semiFinals">
        <app-match-item class="w-100pct" [match]="match"></app-match-item>
      </div>
    </ion-item-group>

    <ion-list-header><h2>Finale</h2> </ion-list-header>
    <ion-item-group *ngIf="final">
      <app-match-item class="w-100pct" [match]="final"></app-match-item>
    </ion-item-group>
  </ion-list>
</ion-content>
