<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start"
      ><ion-button (click)="goBack()"
        ><ion-icon name="arrow-back-outline"></ion-icon></ion-button
    ></ion-buttons>
    <ion-title>{{ match?.homeTeam }} - {{ match?.awayTeam }}</ion-title>
    <ion-buttons slot="end"
      ><ion-button (click)="saveProno()" [disabled]="!isPronoValid"
        ><ion-icon name="save-outline"></ion-icon></ion-button></ion-buttons
  ></ion-toolbar> </ion-header
><ion-content forceOverscroll="false">
  <ion-item>
    <div class="flex-row row">
      <ion-avatar class="country">
        <img *ngIf="match" [src]="getCountryAvatar(match.homeTeam)" />
      </ion-avatar>
      <div class="flex-column">
        <ion-label position="stacked">{{ match?.homeTeam }}</ion-label>
        <ion-input
          [disabled]="hasDeadlinePassed"
          [(ngModel)]="prono.homeScore"
          type="number"
        ></ion-input>
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="flex-row row">
      <ion-avatar class="country">
        <img *ngIf="match" [src]="getCountryAvatar(match.awayTeam)" />
      </ion-avatar>
      <div class="flex-column">
        <ion-label position="stacked">{{ match?.awayTeam }}</ion-label>
        <ion-input
          [disabled]="hasDeadlinePassed"
          [(ngModel)]="prono.awayScore"
          type="number"
        ></ion-input>
      </div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Eerste goal minuut</ion-label>
    <ion-input
      [disabled]="hasDeadlinePassed"
      [(ngModel)]="prono.firstGoalMinute"
      type="number"
    ></ion-input>
  </ion-item>
  <ion-item *ngIf="hasDeadlinePassed && match?.homeScore !== undefined">
    <ion-label position="stacked">Uitslag:</ion-label>
    <span class="m-5">{{ match?.homeScore }} - {{ match?.awayScore }}</span>
  </ion-item>
  <ion-item *ngIf="hasDeadlinePassed && match?.homeScore !== undefined">
    <ion-label position="stacked">Minuut 1e goal:</ion-label>
    <span class="m-5">{{ match?.firstGoalMinute }}</span>
  </ion-item>
  <ion-item *ngIf="hasDeadlinePassed && match?.homeScore !== undefined">
    <ion-label position="stacked">Punten gehaald</ion-label>
    <span class="m-5">{{ pronoScore }}</span></ion-item
  >
  <div *ngIf="hasDeadlinePassed" class="w-100pct">
    <ion-item
      ><div class="flex-row space-between w-100pct flex-align-center m-5">
        <span></span><span>Pronos van de rest</span><span></span></div
    ></ion-item>
    <ion-item *ngFor="let prono of otherPronos">
      <div class="flex-row space-between w-100pct flex-align-center">
        <ion-avatar slot="start" class="m-5">
          <img [src]="getAvatar(prono?.user ?? '')" />
        </ion-avatar>
        <span slot="start"
          >{{ prono.user }}:
          <b>{{ prono.homeScore }} - {{ prono.awayScore }}</b> &nbsp;&nbsp;
          <i> {{ prono.firstGoalMinute }}'</i></span
        ><span></span><span>{{ getUserScore(prono) }} pt</span>
      </div>
    </ion-item>
  </div>
  <div *ngIf="!hasDeadlinePassed && usersNotDone.length > 0" class="w-100pct">
    <ion-item>
      <div class="flex-row space-between w-100pct flex-align-center m-5">
        <span></span><b>Nog niet in orde:</b><span></span></div
    ></ion-item>
    <ion-item *ngFor="let user of usersNotDone">
      <div class="flex-row space-between w-100pct flex-align-center m-5">
        <ion-avatar slot="start">
          <img [src]="getAvatar(user)" />
        </ion-avatar>
        <span>{{ user }}</span>
      </div>
    </ion-item>
  </div>
</ion-content>
